<!DOCTYPE html>
<html ng-app="planhacker">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Plan4Me App</title>

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="196x196" href="images/touch/chrome-touch-icon-196x196.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage"
  content="images/touch/ms-touch-icon-144x144-precomposed.png">
  <meta name="msapplication-TileColor" content="#3372DF">

  <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
  -->

  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

  <!--FullCalender Plugin-->
  <link rel='stylesheet' href='fullcalendar/fullcalendar.css' />

</head>
<body>
  <!--Navigation Bar-->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><b>Plan Hacker</b></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Help</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid" ng-controller="TaskListController">
  <div class="row">

    <!--First Column-->
    <div class="col-sm-8">
      <div id='calendar' ng-controller="EventController"></div>

<!--       <div ng-controller="EventController">

        <div ng-controller="DatepickerDemoCtrl">
          <div class="row">
            <div class="col-sm-8">
              <b>Date</b>
              <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
            </div>
          </div>
        </div>

        <div ng-controller="TimepickerDemoCtrl">
          <b>Starting Time</b>
          <timepicker ng-model="startTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker><b>Ending Time</b>
          <timepicker ng-model="endTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
          <pre class="alert alert-info">Start: {{startTime}}</pre>
          <pre class="alert alert-info">End: {{endTime}}</pre>
          <button class="btn btn-danger" ng-click="clear()">Clear</button>
        </div>

      </div> -->

    </div>

    <!--Second Column-->
    <div class="col-sm-4">


      <!--Task List Component-->
      <form role="form">
        <div class="form-group">
          <h1>Add a Task    (╯°□°）╯︵ ┻━┻</h1>
          <input ng-model="taskInput" type="text" class="form-control"
          name="taskInput" id="taskInput" placeholder="Add a task">
        </div>
        <button ng-click="addTask()" type="submit" class="btn btn-primary">
          Add a task
        </button>
      </form>
      <br>
      <div ng-repeat="task in tasks | orderByPriority" ng-cloak>
        <div class="well well-sm">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="task.isComplete">
              <label >                  
                <span ng-switch on="task.isComplete" ng-click="showSideBar = !showSideBar">
                  <span ng-switch-when="true">
                    <del class="text-muted">
                      {{ task.name }} 
                    </del>
                  </span>
                  <span ng-switch-default>
                    {{ task.name }} (╯°□°）╯︵ ┻━┻
                  </span>
                </span>
                <a ng-controller="LabelController" ng-click="removeLabel(task.$id)" ng-mouseenter="lblRemove = !lblRemove" ng-mouseleave="lblRemove = !lblRemove" type="button" class="label label-success"><span>{{ task.label }}<span ng-hide="!lblRemove" class="glyphicon glyphicon-remove"></span></span></a>
                <a ng-click="tasks.$remove(task.$id)"><span class="glyphicon glyphicon-remove"></span></a>
                <a ng-click="showLabel = !showLabel"><span class="glyphicon glyphicon-tag"></span></a>
              </label>
            </label>
          </div>
        </div>

        <!--Side Bar Component-->
        <div ng-show="showSideBar" class="panel panel-default" ng-controller="SideBarController">
          <div class="panel-heading">
            <div class="panel-title" ng-click="editTask = !editTask">{{task.name}}     (Click on me to rename me)</div>
            <div>
              <input ng-show="editTask" type="text" placeholder="Rename this task..." ng-model="newTaskName">
              <button ng-show="editTask" class="button button-default" ng-click="renameTask(task.$id, newTaskName)">Rename Task</button>
            </div>
          </div>
          <div class="panel-body">
<!--             <div>
              <input  type="text" placeholder="Add a due date..." ng-model="dueDate">
              <button class="button button-default" ng-click="addDueDate(task.$id, dueDate)">Rename Task</button>
            </div> -->
<!--             <div>
              <input  type="text" placeholder="Add a reminder..." ng-model="remindMe">
              <button class="button button-default" ng-click="addReminder(remindMe)">Rename Task</button>
            </div> -->
            <div>
              <input type="text" placeholder="Add a note..." ng-model="noteInput">
              <button  class="button button-default" ng-click="addNote(task.$id, noteInput)">Add note</button>
            </div>
            <br>

            <!--Datepicker-->
            <div ng-controller="DatepickerDemoCtrl">
              <div class="row">
                <div class="col-sm-8">
                  <b>Date</b>
                  <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </p>
                </div>
              </div>
            </div>

            <!--Timepicker-->
            <div ng-controller="TimepickerDemoCtrl">
              <b>Starting Time</b>
              <timepicker ng-model="startTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker><b>Ending Time</b>
              <timepicker ng-model="endTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
              <pre class="alert alert-info">Start: {{startTime}}</pre>
              <pre class="alert alert-info">End: {{endTime}}</pre>
              <button class="btn btn-danger" ng-click="clear()">Clear</button>
            </div>



          </div>
        </div>

        <!--Label Component-->
        <div ng-show="!showLabel" class="panel panel-default" ng-controller="LabelController">
          <div class="panel-body">
            <p>{{task.$id}}</p>
            <div ng-repeat="item in labels">
             <a><span type="button" class="label label-primary" ng-click="assignLabel(task.$id, item.label)">{{ item.label }}</span></a>
           </div>
           <br>
           <form role="form">
            <div class="form-group">
              <input ng-model="labelInput" name="labelInput" id="labelInput" type="text" placeholder="Create label...">
            </div>
            <button ng-click="addLabel()" type="button" class="btn btn-default">Add a label</button>
          </form>
        </div>
      </div>
    </div>

  </div>

<!--   <div class="col-sm-3">

    <h3>This is just a dummy, the real one is inside the task...</h3>
    <div ng-controller="DatepickerDemoCtrl">
      <div class="row">
        <div class="col-sm-8">
          <b>Date</b>
          <p class="input-group">

            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
      </div>
    </div>


    <div ng-controller="TimepickerDemoCtrl">
      <b>Starting Time</b>
      <timepicker ng-model="startTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker><b>Ending Time</b>
      <timepicker ng-model="endTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>

      <pre class="alert alert-info">Start: {{startTime}}</pre>

      <pre class="alert alert-info">End: {{endTime}}</pre>
      <button class="btn btn-danger" ng-click="clear()">Clear</button>
    </div>

  </div> -->

</div>

<!-- JQuery -->
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src='fullcalendar/lib/jquery-ui.custom.min.js'></script>

<!-- Bootstrap JS -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!--Firebase CDN-->
<script src="//cdn.firebase.com/js/client/1.0.6/firebase.js"></script>
<script src="//cdn.firebase.com/js/client/1.0.17/firebase.js"></script>
<script src="//cdn.firebase.com/js/simple-login/1.6.2/firebase-simple-login.js"></script>

<!-- AngularJS -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>

<!--AngularFire-->
<script src="//cdn.firebase.com/libs/angularfire/0.7.1/angularfire.js"></script>
<script src="//code.angularjs.org/1.2.19/angular-resource.min.js"></script>

<!--connection to main.js-->
<script type="text/javascript" src="scripts/main2.js"></script>

<!-- Bootstrap for Angular JS -->
<script type="text/javascript" src="scripts/ui-bootstrap-tpls-0.11.0.min.js"></script>

<!--FullCalendar Plugin-->
<script src='fullcalendar/lib/moment.min.js'></script>
<script src='fullcalendar/fullcalendar.js'></script>
<script>
$(document).ready(function () {
  var events_array = [];
    // this initialize the calendar
    $('#calendar').fullCalendar({
      eventSources: [{
        url: "https://planhacker.firebaseio.com/users/user/events.json",
        type: 'GET',

        // Write a function inside the data to retreive the data out 
        data: {
          title: "title",
          startParam: "start",
          endParam: "end"
        },
        success: doAllTheThingsWithMyCalendarEvents,
        error: function () {
          alert("There's a problem.");
        },
      
      }],
      

      
      // this should be my options and callbacks, if any
      selectable: true,
      selectHelper: true,
      unselectAuto: true,
      editable: true,



      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      weekMode: 'variable',
      theme: false,
     
      events: events_array,
      // events: function(start, end, timezone, callback) {
      //   console.log('Called events with start: ' + start + '  end: ' + end);
      //   events.push({
      //     title: 'test event',
      //     start: '2014-07-05T06:28:00Z'
      //   });
      //   callback(events);
      // },

      select: function(start, end) {
        var title = "New Event";
        if (title) {
          $('#calendar').fullCalendar('renderEvent',
            {
              title: title,
              start: start,
              end: end
            },
            true
          );

          var ref = new Firebase("https://planhacker.firebaseio.com/users/user/");
          var eventsRef = ref.child("events");

          eventsRef.push(            
            {
              title: title,
              start: start.unix(),
              end: end.unix()
            }
          );

          $('#calendar').fullCalendar('addEventSource', "https://planhacker.firebaseio.com/users/user/events.json");
        }


      }

    })

  function doAllTheThingsWithMyCalendarEvents( data){

    // console.log(data); 

    for (i in data) {
      // console.log(events);
      // console.log(i);
      // console.log(data[i]);
      // console.log(data[i].end);
      // console.log(data[i].start);
      // console.log(data[i].title);
      // events.push({
      //   title: data[i].title,
      //   start: '2014-09-05T06:28:00Z'
      // });
      // console.log(events)
     // $('#calendar').fullCalendar('renderEvent',
      // {
        events_array.push({
          title: data[i].title,
          start: data[i].start,
          end: data[i].end
        });
        console.log(events_array);
      // },
      // true
      // );
    }
    for (var j = 0; i++; i < events_array.length){
        if (events_array[i].title) {
          $('#calendar').fullCalendar('renderEvent',
            events_array[i],
            true
          );
        }
    };
  }
})
</script>

</body>
</html>
