body {
	background-image: url("/static/img/journey.jpg");
}

div.container {
	padding-top: 10px;
	width: 100%;
}

div.navbar-wrapper {
	height:65px;

}

div.navbar.navbar-inverse.navbar-static-top {
	width: 100%;
}

div#left-column.col-sm-3.col-sm-2.sidebar {
	height: 100%;
}

div#left-column {
	display:inline-block;
	height:775px;
	width:280px;*/
	height:100%;
	width:20%;
	min-width: 280px;
	background-color:rgba(0,0,0,0.5);
	/*background-color:#75FFA3;*/
}

#list {
	position:absolute;
	padding-top:65px;
	padding-bottom:195px;
	padding-left:20px;
	padding-right:20px;
	font-color:black;
}

#addNewList {
	margin-top:15px;
	padding-left:10px;
	border:2px solid;
	border-radius:10px;
	height:40px;
	width:250px;
	background-color:white;
}

#right-column {
	position:absolute;
	display:inline-block;
/*	width:1028px;
	height:775px;*/
	height:100%;
	width:80%;
	/*background-color:#94DBFF;*/
	padding-bottom:300px;
}

#addTask0 {
	margin-top:20px;
	margin-left: 20px;
	padding-left:10px;
	padding-right:40px;
	margin-right: 40px;
	padding-top:10px;
	padding-right: 50px;
	border:2px solid #456879;
	border-radius:10px;
	height:40px;
	width:65%;
	background-color:rgba(0,0,0,0.3);
}

div.btn-group {
	margin-top: 490px;
	margin-left: 250px;
}

#input-textbox {
	margin-top: 20px;
	margin-left: 20px;
	width: 65%;
	border:2px solid #456879;
	border-radius:10px;
	height:42px;
	width:65%;
}

#addTask1 {
	height: 40px;
}

/*#addTask1 {
	margin-top:20px;
	margin-left: 20px;
	padding-left:10px;
	padding-right:40px;
	margin-right: 40px;
	padding-top:10px;
	padding-right: 50px;
	border:2px solid #456879;
	border-radius:10px;
	height:40px;
	width:65%;
	background-color:white;
}*/

#pop-column {
	margin-left:718px;
	margin-top: 20px;
	position:absolute;
	display:inline-block;
	width:296px;
	height:86%;
	background-color:rgba(255,255,255,0.5);
	border:2px solid;
	border-radius:10px;
}

#pop-column.h1 {
	font-family:"Helvetica Neue";
}

#sidebar-container {
	margin-left:20px;
}

#taskLabelBox {
	padding:0px;
	margin-right:20px;
	width:250px;
	border:2px solid;

}

#setDueDate {
	margin-top:15px;
	padding-left:10px;
	border:2px solid;
	border-radius:10px;
	height:40px;
	width:250px;
	background-color:white;
}

#setReminder {
	margin-top:15px;
	padding-left:10px;
	border:2px solid;
	border-radius:10px;
	height:40px;
	width:250px;
	background-color:white;
}

#addSubtask {
	padding:0px;
	margin-top: 15px;
	margin-right:20px;
	width:250px;
	border:2px solid;
}


/*#pop-column {
	position:absolute;
	display:inline-block;
	background-color:#75FFA3;
	width:360px;
	height:775px;
	padding-left:500px;
}*/