.page-plan {
	padding-top: 70px;
}

body {
    padding-top: 75px;
}

.faded {
    background-color: #0000ff;

/*	background-color:rgba(255,255,255,1);*/
}

.label-success {
    float: left;
    margin-right: 5px;
    top:2px;
}


.pullRight {
    position:absolute;
    display:inline-block;
    right:0;
    top:0;
}

/*.labelIcon {
    position:absolute;
    display:inline-block;
    right:0;
    top:0;
}
*/
.iconContainer {
    width:100%;    
}

.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 

.animate-enter .animate-enter-active, 
.animate-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}

.pullRight{
    right:0;
}

.animate-leave .animate-leave-active,
.animate-enter {
    opacity: 0;
    top: -50px;
    height: 0;
}
